<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ .Title }}</h1>
    <form action="#">
        <label for="question"></label> <br>
        <input id="question" type="text" value="{{ .Faq.Question }}" /> <br>
        <label for="ans">Answer</label> <br>
        <textarea id="ans" rows="10" cols="20">{{ .Faq.Answer}}</textarea> <br>
        <div><input type="submit" value="Save"></div>
    </form>

</body>
</html>